<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896502002106-o1u3cdede8f36ctn4l3sp908o0i33sgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896502002106-o1u3cdede8f36ctn4l3sp908o0i33sgt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>896502002106-oclbje7gfnclvthp37t6d4c911f08jbh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_aW6yWcp3RBTR6GQk8j3mS2MqLUuDcJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>896502002106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.malika</string>
	<key>PROJECT_ID</key>
	<string>mallika-b9a86</string>
	<key>STORAGE_BUCKET</key>
	<string>mallika-b9a86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896502002106:ios:72bee0f02eb2f65e1f2d83</string>
</dict>
</plist>